#Gif {
    position: relative;
    left: 270px;
    top: 400px; 
    height: 200px;
    width: 200px;
}

#correct{
    position: relative;
    left: 485px;
    bottom: 392px; 
}

#incorrect{
    position: relative;
    left: 496px;
    bottom: 373px; 
}

#unanswered{
    position: relative;
    left: 455px;
    bottom: 354px; 
}

#correctAnswers {
    position: relative;
    left: 350px;
    bottom: 370px;
}

#incorrectAnswers {
    position: relative;
    left: 350px;
    bottom: 350px;  
}

#unansweredQuestions {
    position: relative;
    left: 350px;
    bottom: 330px;  
} 


#stopwatch {
    size: 12px;
}

#submitAnswers {
    position: relative;
    bottom: 50px;
    left: 350px;
    height: 60px;
    width: 200px;
    font-size: 30px;
}

.answers1 {
    position: relative;
    left: 350px;
    bottom: 430px;
}
.answers2 {
    position: relative;
    left: 350px;
    bottom: 390px;
}
.answers3 {
    position: relative;
    left: 350px;
    bottom: 350px;
}

#body {
    background-color: black;
    background-image: url(../images/monsterhunterworld.png);
}

#container1 {
    background-color: white;
    position: relative;
    top: 60px;
    height: 640px;
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px;
    /*tried using z-index*/
}

#mh {
    font-size: 60px;
}

#MonsterHunterTitle {
    position: absolute;
    top: 90px;
    left: 120px;
    margin-left: auto;
    margin-right: auto; 
    color: rgb(12, 141, 0);
}

#StartbuttonContainer {
    position: absolute;
    top: 310px;
    left: 460px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 200px;
    font-size: 30px;
}

#startButton {
    height: 60px;
    width: 200px;
    font-size: 30px;
}

#timeRemaining {
    position: absolute;
    top: 80px;
    left: 260px;
    z-index: 1;
}