#correct{
    position: relative;
    left: 250px;
    top: 176px; 
}

#incorrect{
    position: relative;
    left: 265px;
    top: 196px; 
}

#unanswered{
    position: relative;
    left: 220px;
    top: 216px; 
}

#correctAnswers {
    position: relative;
    left: 120px;
    top: 200px;
}

#incorrectAnswers {
    position: relative;
    left: 120px;
    top: 220px;  
}

#unansweredQuestions {
    position: relative;
    left: 120px;
    top: 240px;  
} 


#stopwatch {
    size: 12px;
}

#submitAnswers {
    position: relative;
    top: 500px;
    left: 265px;
    height: 60px;
    width: 200px;
    font-size: 30px;
}

.answers1 {
    position: relative;
    left: 120px;
    top: 110px;
}
.answers2 {
    position: relative;
    left: 120px;
    top: 150px;
}
.answers3 {
    position: relative;
    left: 120px;
    top: 190px;
}

#body {
    background-color: black;
    background-image: url(../images/monsterhunterworld.png);
}

#container1 {
    background-color: white;
    position: relative;
    top: 60px;
    height: 650px;
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px;
    /*tried using z-index*/
}

#mh {
    font-size: 60px;
}

#MonsterHunterTitle {
    position: absolute;
    top: 90px;
    left: 120px;
    margin-left: auto;
    margin-right: auto; 
    color: rgb(12, 141, 0);
}

#StartbuttonContainer {
    position: absolute;
    top: 290px;
    left: 290px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 200px;
    font-size: 30px;
}

#startButton {
    height: 60px;
    width: 200px;
    font-size: 30px;
}

#timeRemaining {
    position: absolute;
    top: 80px;
    left: 260px;
    z-index: 1;
}